.contact-cont {
    width: 1920px;
    max-width: 100%;
    position: absolute;
    left: calc(50vw - 960px); 
    height: 960px;
    background-color: #141D2F;
    position: relative;
}

.contact-header {
    position: absolute;
    width: 376px;
    height: 108px;
    left: calc(50% - 188px);
    top: 50px;
    span {
        font-family: 'Poppins';
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        text-align: center;
        color: white;
    }
}

.contact-header-line {
    position: absolute;
    width: calc(50% - 238px);
    right: 0;
    top: 104px;
    height: 4px;
    background-color: #00BEE8;
}

.problem-solver-line {
    position: absolute;
    width: 50px;
    height: 4px;
    top: 269px;
    left: 0;
    background-color: #00BEE8;
}

.problem-solver-cont {
    position: absolute;
    left: 100px;
    top: 250px;
    width: 473px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.problem-solver-title {
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
    color: white;
}

.problem-solver-description {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: white;
}

.problem-solver-ask {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: white;
}

.problem-solver-contact {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    color:white;
}

.contact-form-cont {
    position: absolute;
    width: 620px;
    height: 600px;
    top: 250px;
    right: 100px;
    gap: 32px;
}

.go-up-btn-cont {
    position: absolute;
    right: 120px;
    top: 880px;
    width: 39px;
    height: 39px;
    cursor: pointer;
}

.parting-line {
    position: absolute;
    top: 950px;
    width: 100vw;
    height: 4px;
    background-color: #00BEE8;
}

@media(max-width:1920px){
    .contact-cont {
        width: 100vw;
        max-width: 100%;
        left: 0;
    }
}

@media(max-width:1300px){
    .contact-cont {
        height: 1160px;
    }

    .contact-form-cont {
        top: 450px;
        left: calc(50vw - 295px);
        right: 0px;
    }

    .problem-solver-cont {
        width: calc(100% - 200px);
    }

    .go-up-btn-cont {
        top: 1080px;
    }
    
    .parting-line {
        top: 1150px;
    }
}

@media(max-width:1000px){
    .problem-solver-cont {
        left: 50px;
        width: calc(100% - 100px);
    }

    .problem-solver-line {
        width: 25px;
        left: 0;
    }

    .go-up-btn-cont {
        right: 70px;
    }
}

@media(max-width:900px){
    .contact-header {
        left: calc(50% - 146px);
        span {
            font-size: 70px;
        }
    }

    .contact-header-line {
        width: calc(50% - 198px);
    }
}

@media(max-width:700px){
    .contact-form-cont {
        top: 450px;
        left: 60px;
        width: calc(100vw - 100px);
    }

    .go-up-btn-cont {
        display: none;
    }

    .parting-line {
        top: 1100px;
    }

    .contact-cont {
        height: 1110px;
    }
}

@media(max-width:500px){
    .contact-header {
        left: calc(50vw - 115px);
        max-width: 230px;
        span {
            font-size: 55px;
        }
    }

    .contact-header-line {
        width: calc(50% - 138px);
    }
}

@media(max-width:485px){
    .contact-cont {
        height: 1130px;
    }

    .parting-line {
        top: 1120px;
    }
    
    .problem-solver-cont {
        height: 200px;
    }

    .contact-form-cont {
        top: 470px;
    }
}

@media(max-width:433px){
    .contact-cont {
        height: 1150px;
    }

    .parting-line {
        top: 1140px;
    }
    
    .problem-solver-cont {
        height: 220px;
    }

    .contact-form-cont {
        top: 490px;
    }
}

@media(max-width:393px){
    .problem-solver-cont {
        top: 240px;
        height: 230px;
    }
}
