<div class="contact-cont">
    <div id="contact-cont"></div>
    <div class="contact-header">
        @if(changeLanguage.englishLanguageActive){
            <span>{{ changeLanguage.contactHeaderTitleEnglish }}</span>
        }@else{
            <span>{{ changeLanguage.contactHeaderTitleGerman }}</span>
        }
    </div>
    <div class="contact-header-line"></div>
    <div class="problem-solver-line"></div>
    <div class="problem-solver-cont">
        <div>
            @if(changeLanguage.englishLanguageActive){
                <span class="problem-solver-title">
                    {{ changeLanguage.contactSolverTitleEnglish }}
                </span>
            }@else {
                <span class="problem-solver-title">
                    {{ changeLanguage.contactSolverTitleGerman }}
                </span>
            }
        </div>
        <div>
            @if(changeLanguage.englishLanguageActive){
                <span class="problem-solver-description">
                    {{ changeLanguage.contactSolverDescriptionEnglish }}
                </span>
            }@else {
                <span class="problem-solver-description">
                    {{ changeLanguage.contactSolverDescriptionGerman }}
                </span>
            }
        </div>
        <div>
            @if(changeLanguage.englishLanguageActive){
                <span class="problem-solver-ask">
                    {{ changeLanguage.contactSolverAskEnglish }}
                </span>
            }@else {
                <span class="problem-solver-ask">
                    {{ changeLanguage.contactSolverAskGerman }}
                </span>
            }
            @if(changeLanguage.englishLanguageActive){
                <span class="problem-solver-contact">
                    {{ changeLanguage.contactSolverContactEnglish }}
                </span>
            }@else {
                <span class="problem-solver-contact">
                    {{ changeLanguage.contactSolverContactGerman }}
                </span>
            }
        </div>
    </div>
    <div class="contact-form-cont">
        <app-contactform></app-contactform>
    </div>
    <a class="go-up-btn-cont" href="#above-the-fold-container">
    </a>
    <div class="shadow-cont-left">
        <img class="shadow-left" src="../../../assets/img/Purple shadow.png">
    </div>
    <div class="popUp" [ngStyle]="{'display': this.changeLanguage.massegeSent ? 'block' : 'none'}">
        <div class="popUpWindow">
            @if(changeLanguage.englishLanguageActive){
                <span>{{ changeLanguage.MessageSentButtonEnglish }}</span>
            }@else{
                <span>{{ changeLanguage.MessageSentButtonGerman }}</span>
            }
        </div>
    </div>
</div>
