<div class="contact-cont" id="contact-cont">
    <div class="contact-header">
        <span>Contact</span>
    </div>
    <div class="contact-header-line"></div>
    <div class="problem-solver-line"></div>
    <div class="problem-solver-cont">
        <div>
            <span class="problem-solver-title">Got a problem to solve?</span>
        </div>
        <div>
            <span class="problem-solver-description">Contact me through this form, 
                I am interested in hearing from you, knowing your ideas 
                and contributing to your projects with my work.
            </span>
        </div>
        <div>
            <span class="problem-solver-ask">Need a Frontend developer?</span>
            <span class="problem-solver-contact"> Contact me!</span>
        </div>
    </div>
    <div class="contact-form-cont">
        <app-contactform></app-contactform>
    </div>
    <div class="go-up-btn-cont">
        <a class="go-up-btn" href="#landing-page-cont"><img src="../../../assets/img/Go up button.png"></a>
    </div>
    <div class="parting-line">
    </div>
</div>

