@import '../../../styles.scss';

@media(max-width: 1920px){
    .above-the-fold-container {
        width: 100vw;
        max-width: 100%;
        left: 0;
    }

    .srcoll-down-cont {
        left: calc(100vw - 210px);
    }
    
    .scroll-down-arrow {
        left: calc(100vw - 158px);
    }

    .blue-line {
        left: 0;
        width: 50px;
    }
}

@media(max-width: 1050px){
    header {
        width: 730px;
        height: 180px;
        left: calc(50% - 365px);
        top: calc(50% - 145px);
    }
    
    .header-right {
        width: 650px;
    }
    
    .header-left {
        top: 49px;
        left: 0px;
    
    }
    
    .i-am {
        font-size: 54px;
    }

    .i-am-german {
        font-size: 38px;
    }
    
    .name {
        font-size: 82px;
    }
    
    .profession {
        font-size: 52px;
    }
}

@media(max-width: 1000px){
    .srcoll-down-cont {
        left: calc(100vw - 155px);
    }
    
    .scroll-down-arrow {
        left: calc(100vw - 100px);
    }

    .blue-line {
        left: 0;
        width: 25px;
    }

    .icons-cont{
        left: 45px;
    }
}

@media(max-width: 850px){
    header {
        width: 570px;
        height: 170px;
        left: calc(50% - 285px);
        top: calc(50% - 140px);
    }
    
    .header-right {
        width: 500px;
    }
    
    .header-left {
        top: 46px;
        left: 2px;
    
    }
    
    .i-am {
        font-size: 44px;
    }

    .i-am-german {
        font-size: 30px;
    }
    
    .name {
        font-size: 62px;
    }
    
    .profession {
        font-size: 39px;
    }
}

@media(max-width: 650px){
    header {
        width: 420px;
        height: 160px;
        left: calc(50% - 225px);
        top: calc(50% - 135px);
    }
    
    .header-right {
        width: 350px;
    }
    
    .header-left {
        top: 43px;
        left: 17px;
    
    }
    
    .i-am {
        font-size: 34px;
    }

    .i-am-german {
        font-size: 22px;
    }
    
    .name {
        font-size: 44px;
    }
    
    .profession {
        font-size: 32px;
    }

    .srcoll-down-cont, .scroll-down-arrow {
        display: none;
    }
}

@media(max-width:500px){
    button {
        width: 133px;
        height: 49px !important;
        padding: 0;
        font-size: 16px;
        text-align: center;
        left: calc(50% - 67px);
    }

    .german-button-text {
        width: 180px;
        height: 49px !important;
        font-size: 16px;
        text-align: center;
        padding: 0;
        left: calc(50% - 90px);
    }
}

@media(max-width: 450px){
    header {
        width: 320px;
        height: 160px;
        left: calc(50% - 160px);
        top: calc(50% - 135px);
    }
    
    .header-right {
        width: 300px;
    }
    
    .header-left {
        top: 42px;
        left: -29px;
    
    }
    
    .i-am {
        font-size: 32px;
    }

    .i-am-german {
        font-size: 20px;
    }
    
    .name {
        font-size: 38px;
    }
    
    .profession {
        font-size: 27px;
    }

    .icons-cont{
        left: calc(50% - 77px);
    }

    .blue-line {
        width: calc(50% - 97px);
    }
}

@media(max-width: 350px){
    header {
        width: 320px;
        height: 145px;
        left: calc(50% - 130px);
        top: calc(50% - 135px);
    }
    
    .header-right {
        width: 300px;
        margin: 0;
    }
    
    .header-left {
        top: 36px;
        left: -23px;
        margin: 0;
    
    }
    
    .i-am {
        font-size: 24px;
    }

    .i-am-german {
        font-size: 16px;
    }
    
    .name {
        font-size: 33px;
    }
    
    .profession {
        font-size: 23px;
    }
}