<div class="above-the-fold-container" id="above-the-fold-container">
    <header>
        <div class="header-left">
            @if(changeLanguage.englishLanguageActive){
                <span class="i-am">{{ changeLanguage.iAmEnglish }}</span>
            } @else {
                <span class="i-am-german">{{ changeLanguage.iAmGerman }}</span>
            }
            
        </div>
        <div class="header-right">
            <span class="name">Gabor Hozleiter</span>
            <span class="profession">FRONTEND DEVELOPER</span>
        </div>
    </header>
    <a href="#contact-cont">
        @if(changeLanguage.englishLanguageActive){
            <button>{{ changeLanguage.letsTalkEnglish }}</button>
        }@else {
            <button class="german-button-text">{{ changeLanguage.letsTalkGerman }}</button>
        }
        
    </a>
    <div class="anim-cont">
        <div class="srcoll-down-cont">
            <span class="scroll-down-text">Scroll down</span>
        </div>
        <div class="moved-arrow-cont">
            <img src="../../../assets/img/arrow-down-line.png" class="scroll-down-arrow">
        </div>
    </div>
    
    <div class="blue-line"></div>
    <div class="icons-cont">
        <div>
            <a href="#">
                <img src="../../../assets/img/Github button.png">
            </a>
        </div>
        <div>
            <a href="#">
                <img src="../../../assets/img/Email button.png">
            </a>
        </div>
        <div>
            <a href="#">
                <img src="../../../assets/img/Linkedin button.png">
            </a>
        </div>
    </div>
    <div class="shadow-cont-left">
        <img class="shadow-left" src="../../../assets/img/shadow1.png">
    </div>
    <div class="shadow-cont-right">
        <img class="shadow-right" src="../../../assets/img/shadow2.png">
    </div>
</div>