<div class="above-the-fold-container">
    <header>
        <div class="header-left">
            <span class="i-am">I am</span>
        </div>
        <div class="header-right">
            <span class="name">Gabor Hozleiter</span>
            <span class="profession">FRONTEND DEVELOPER</span>
        </div>
    </header>
    <button>Let’s talk!</button>
    <div class="srcoll-down-cont">
        <span class="scroll-down-text">Scroll down</span>
    </div>
    <img src="../../../assets/img/arrow-down-line.png" class="scroll-down-arrow">
</div>