@import '../../../styles.scss';

.above-the-fold-container {
    height: calc(100vh - 109px);
    position: relative;
    left: 0;
    //overflow: hidden;
    background-image: url('../../../assets/img/shadow_mix.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 50%;
}

header {
    width: 930px;
    height: 200px;
    position: absolute;
    left: calc(50% - 465px);
    top: calc(50% - 155px);
    position: relative;
    span {
        cursor: default;
    }
}

.header-right {
    position: absolute;
    height: 100%;
    width: 850px;
    z-index: 3;
    top: 0;
    right: 0;
}

.header-left {
    transform: rotate(-90deg);
    position: absolute;
    z-index: 2;
    top: 57px;
    left: -33px;
}

.i-am, .i-am-german {
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 108px;
    text-align: center;
    color: white;
    margin: 0;
}

.i-am {
    font-size: 71px;
}

.i-am-german {
    font-size: 46px;
}

.name {
    font-family: 'Poppins';
    font-size: 106px;
    font-weight: 700;
    line-height: 153.6px;
    text-align: left;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    margin-bottom: 109px;
    white-space: nowrap;
}

.profession {
    font-family: 'Poppins';
    font-size: 66px;
    font-weight: 400;
    line-height: 76.8px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
}

.blue {
    color: $blue;
}

.purple {
    color: $purple;
}
button, .german-button-text {
    height: 58px;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: $blue;
    box-shadow: 4px 4px 4px 0px #00000040;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    transform-origin: top center;
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: white;
    white-space: nowrap;
    position: absolute;
    top: calc(50% + 100px);
    z-index: 1005;
    &:hover {
        transform: scaleX(1.1) scaleY(1.1);
        background-color: $purple;
    }
    &:active {
        color: black;
        background-color: white;
    }
}

button {
    width: 165px;
    left: calc(50% - 82.5px);
}

.german-button-text {
    width: 230px;
    left: calc(50% - 115px);
}

@keyframes move {
    0% {
        transform: translateY(50);
    }
    50% {
        transform: translateY(-70px);
    }
    100% {
        transform: translateX(50);
    }
}

.anim-cont {
    animation: move 1s infinite;
    position: absolute;
    position: relative;
    top: calc(100% - 190px);
    z-index: 5;
}

.srcoll-down-cont {
    transform: rotate(90deg);
    position: absolute;
    bottom: 120px;
    left: calc(50% + 760px);
    cursor: default;
}

.scroll-down-text {
    font-family: Poppins;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: white;
    white-space: nowrap;
}

.scroll-down-arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    left: calc(50% + 812px);
    bottom: 35px;
}

.blue-line {
    height: 4px;
    position: absolute;
    left: 0;
    right: calc(50vw + 910px);
    bottom: 50px;
    background-color: $blue;
}

.icons-cont{
    position: absolute;
    bottom: 30px;
    left: calc(50vw - 860px);
    gap: 32px;
    display: flex;
    z-index: 1006;
    img {
        &:hover {
            transform: scale(1.4);
        }
    }
}