<div class="portfolio-project">
    <div class="project-img">
        <img src="../../../assets/img/Pollo loco.png">
    </div>
    <div>
        <img class="project-background" src="../../../assets/img/pollo loco background.png">
    </div>
    <div class="white-block">
        <span class="project-name">El Pollo Loco</span>
        <span class="project-description">Jump, run and throw game based on object-oriented approach. Help Pepe 
            to find coins and tabasco salsa to fight against the crazy hen.
        </span>
        <span class="project-skills">JavaScript | HTML | CSS</span>
    </div>
    <div class="buttons-cont">
        <a href="#">
            <button class="github-button">Github</button>
        </a>
        <a href="#">
            <button class="live-test-button">Live test</button>
        </a>
    </div>
</div>
