<div class="portfolio-project" *ngFor="let project of projects; let i = index">
    <div class="project-img">
        <img src="{{ project.backgroundNotebook }}">
    </div>
    <div>
        <img class="project-background" src="{{ project.background }}">
    </div>
    <div class="white-block">
        <span class="project-name">{{ project.name }}</span>
        <span class="project-description">{{ project.description }}</span>
        <span class="project-skills">{{ project.skills }}</span>
    </div>
    <div class="buttons-cont">
        <a href="#">
            <button class="github-button">Github</button>
        </a>
        <a href="#">
            <button class="live-test-button">Live test</button>
        </a>
    </div>
</div>
