<div>
    <form>
        <div>
            <label for="name"></label>
            <input type="text" placeholder="Your name" required class="name-inputfield">
            <span class="input-warn" >Your name is required</span>
        </div>
        <div>
            <label for="email"></label>
            <input type="email" id="email" name="email" placeholder="Your email" required class="email-inputfield">
            <span class="input-warn">Your email is required</span>
        </div>
        <div>
            <label for="message"></label>
            <textarea placeholder="Your message" required class="message-inputfield"></textarea>
            <span class="input-warn-high">Your message is empty</span>
        </div>
        <div class="check-box-cont">
            <img src="" class="check-box">
            <span class="check-box-text">I've read the <a href="">privacy policy</a> and agree to the processing of my data as outlined.</span>
        </div>
        <div>
            <input type="submit" value="" class="submit-button">
        </div>
    </form>
</div>

