<div>
    <form class="form-cont" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div>
            <label for="name"></label>
            <input [(ngModel)]="contactData.name" type="text" id="name" name="name" autocomplete="name" placeholder="{{ changeLanguage.placeholderName }}" required 
            #name="ngModel"  class="name-inputfield name-pos" 
            [ngStyle]="{'border-color': !name.valid && name.touched ? 'red' : (!name.valid && !name.touched ? '#4B47FF' : 'green')}">
            @if(!name.valid && name.touched){
                <div class="name-warn-pos">
                    @if(changeLanguage.englishLanguageActive){
                        <span class="input-warn">{{ changeLanguage.inputNameWarningEnglish }}</span>
                    }@else{
                        <span class="input-warn">{{ changeLanguage.inputNameWarningGerman }}</span>
                    }
                </div>
                <div>
                    <img src="../../assets/img/invalid-icon.png" class="name-input-icon">
                </div>
            }
            @if(name.valid && name.touched){
                <div>
                    <img src="../../assets/img/valid-icon.png" class="name-input-icon">
                </div>
            }
        </div>
        <div>
            <label for="email"></label>
            <input [(ngModel)]="contactData.email" type="email" id="email" name="email" autocomplete="email" placeholder="{{ changeLanguage.placeholderEmail }}" required
                #email="ngModel" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" class="email-inputfield email-pos"
                [ngStyle]="{'border-color': !email.valid && email.touched ? 'red' : (!email.valid && !email.touched ? '#4B47FF' : 'green')}">
                @if(!email.valid && email.touched){
                    <div>
                        @if(changeLanguage.englishLanguageActive){
                            <span class="input-warn email-warn-pos">{{ changeLanguage.inputEmailWarningEnglish }}</span>
                        }@else{
                            <span class="input-warn email-warn-pos">{{ changeLanguage.inputEmailWarningGerman }}</span>
                        }
                    </div>
                    <div>
                        <img src="../../assets/img/invalid-icon.png" class="email-input-icon">
                    </div> 
                }
                @if(email.valid && email.touched){
                    <div>
                        <img src="../../assets/img/valid-icon.png" class="email-input-icon">
                    </div> 
                }
        </div>
        <div>
            <label for="message"></label>
            <textarea [(ngModel)]="contactData.message" placeholder="{{ changeLanguage.placeholderMessage }}" id="message" name="message" autocomplete="name" required 
            #message="ngModel" class="message-inputfield message-pos"
            [ngStyle]="{'border-color': !message.valid && message.touched ? 'red' : (!message.valid && !message.touched ? '#4B47FF' : 'green')}"></textarea>
            @if(!message.valid && message.touched){
                <div>
                    <img src="../../assets/img/invalid-icon.png" class="message-input-icon">
                </div>
                <div>
                    @if(changeLanguage.englishLanguageActive){
                        <span class="input-warn message-warn-pos">{{ changeLanguage.inputMessageWarningEnglish }}</span>
                    }@else{
                        <span class="input-warn message-warn-pos">{{ changeLanguage.inputMessageWarningGerman }}</span>
                    }
                </div>
            }
            @if(message.valid && message.touched){
                <div>
                    <img src="../../../assets/img/valid-icon.png" class="message-input-icon">
                </div>
            }
        </div>
        <img src="../../../assets/img/checkbox-invalid-default.png" class="checkbox" (click)="acceptPolicy()">
        @if(acceptedPolicy){
            <img src="../../../assets/img/checkbox-valid-default.png" class="checkbox-valid" (click)="acceptPolicy()">
        }
        <span class="checkbox-text">
            &nbsp;&nbsp;@if(changeLanguage.englishLanguageActive){
                {{ changeLanguage.acceptPolicyTextLeftEnglish }}
            }@else{
                {{changeLanguage.acceptPolicyTextLeftGerman  }}
            } <a href="privacy-policy">
                @if(changeLanguage.englishLanguageActive){
                    {{ changeLanguage.privacyPolicyEnglish }}
                }@else{
                    {{changeLanguage.privacyPolicyGerman }}
                }
            </a> 
            @if(changeLanguage.englishLanguageActive){
                {{ changeLanguage.acceptPolicyTextRightEnglish }}
            }@else{
                {{changeLanguage.acceptPolicyTextRightGerman }}
            }
        </span>
        @if(!acceptedPolicy && warnTextPolicy){
            @if(changeLanguage.englishLanguageActive){
                <span class="input-warn checkbox-warn-text">{{ changeLanguage.acceptPolicyWarningEnglish }}</span>
            }@else{
                <span class="input-warn checkbox-warn-text">{{ changeLanguage.acceptPolicyWarningGerman }}</span>
            }
            
        }
        @if(!name.valid || !email.valid || !message.valid || !acceptedPolicy){
            <button class="submit-button button-pos">
                @if(changeLanguage.englishLanguageActive){
                    <span>{{ changeLanguage.sendMessageButtonEnglish }}</span>
                }@else{
                    <span>{{ changeLanguage.sendMessageButtonGerman }}</span>
                }
                
            </button>
        } @else {
            <button class="submit-button-valid button-pos">
                @if(changeLanguage.englishLanguageActive){
                    <span>{{ changeLanguage.sendMessageButtonEnglish }}</span>
                }@else{
                    <span>{{ changeLanguage.sendMessageButtonGerman }}</span>
                }
            </button>
        }
        
    </form>
</div>