nav {
    width: 100vw;
    max-width: 1920px;
    height: 109px;
    background-color: #141d2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a, span{
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    &:hover {
        color: #00B2D9;
    }
}

a {
    cursor: pointer;
}

.navbar-right {
    display: flex;
    gap: 24px;
    margin-right: 100px;
}

.navbar-left {
    margin-left: 100px;
}

img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

@media(max-width: 1000px){
    .navbar-right {
        margin-right: 50px;
    }
    
    .navbar-left {
        margin-left: 50px;
    }
}

@media(max-width: 700px){
    .navbar-right {
        gap: 16px;
    }
}

@media(max-width: 650px){
    a, span {
        display: none;
    }

    .logo {
        display: block;
    }

    img {
        display: block;
    }
}

@media(max-width: 400px){
    .navbar-right {
        margin-right: 10px;
    }
    
    .navbar-left {
        margin-left: 10px;
    }
}