<div class="about-me-cont" id="about-me-cont">
    <div class="about-me-text-description">
        <div>
            @if(changeLanguage.englishLanguageActive){
                <h1>{{ changeLanguage.aboutMeEnglish }}</h1>
            } @else {
                <h1>{{ changeLanguage.aboutMeGerman }}</h1>
            }
            
        </div>
        <div class="about-me-text-cont">
            @if(changeLanguage.englishLanguageActive){
                <p class="debut">
                    {{ changeLanguage.aboutMeTextTopEnglish }}
                </p>
            } @else {
                <p class="debut"><p class="debut">
                    {{ changeLanguage.aboutMeTextTopGerman }}
                </p>
            }
        </div>
        <div class="about-me-text-cont" (mouseover)="changeBulbImage()">
            @if(!hoveredBulb){
                <img src="../../../assets/img/bulb.png" class="bulb">
            } @else {
                <img src="../../../assets/img/bulb hovered.png" class="bulb">
            }
            @if(changeLanguage.englishLanguageActive){
                <p class="debut">
                    {{ changeLanguage.aboutMeTextCenterEnglish }}
                </p>
            } @else {
                <p class="debut"><p class="debut">
                    {{ changeLanguage.aboutMeTextCenterGerman }}
                </p>
            }
        </div>
        <div class="about-me-text-cont"  (mouseover)="changePuzzleImage()">
            @if(!hoveredPuzzle){
                <img src="../../../assets/img/puzzle.png" class="puzzle">
            } @else {
                <img src="../../../assets/img/puzzle hovered.png" class="puzzle">        
            }
            @if(changeLanguage.englishLanguageActive){
                <p class="debut">
                    {{ changeLanguage.aboutMeTextBottomEnglish }}
                </p>
            } @else {
                <p class="debut"><p class="debut">
                    {{ changeLanguage.aboutMeTextBottomGerman }}
                </p>
            }
        </div>
    </div>
    <div class="img-cont">
        <img src="../../../assets/img/hero character photo.png">
    </div>
</div>
<div>
    <img class="backgr-img" src="../../../assets/img/Vector (2).png">
</div>
<div class="shadow-cont">
    <img class="shadow" src="../../../assets/img/Group 2.png">
</div>
