@import '../../../styles.scss';

@media(max-width:1920px){
    .about-me-cont{
        width: 100vw;
        max-width: 100%;
        left: 0;
    }

    .about-me-text-description {
        width: 50vw;
        left: 0;
    }

    .img-cont {
        width: 50vw;
    }

    .shadow-cont {
        right: 100px;
        top: 30px;
        transform: scale(1.1);
    }
}

@media(max-width:1350px){
    .shadow-cont {
        top: 25px;
        transform: scale(1.25);
    }
}

@media(max-width:1150px){
    .about-me-cont {
        height: 1000px;
        width: 100vw;
        max-width: 100%;
        display: flex;
        justify-content: center;
        z-index: 2;
    }

    #about-me-cont {
        transform: translateY(520px);
    }

    .shadow-cont {
        top: -120px;
        transform: scale(1);
        left: calc(50vw - 470px);
    }

    .img-cont {
        width: 100vw;
        max-width: 100%;
        height: 400px;
        left: 0;
        display: flex;
        justify-content: center;
        z-index: 2;
        img {
            top: 0px;
            width: 620px;
            height: 620px;
        }
    }

    .about-me-text-description {
        position: absolute;
        top: 650px;
        left: 0;
        width: 100vw;
        max-width: 100%;
        padding: 0;
        height: 300px;
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .backgr-img {
        height: 300px;
        top: calc(511px + 100vh);
        z-index: 1;
    }

    .about-me-text-cont {
        width: calc(100vw - 200px);
    }

    
}

@media(max-width:1000px){
    .about-me-text-cont {
        width: calc(100vw - 100px);
    }
}

@media(max-width:900px){
    h1 {
        font-size: 70px;
    }

    .backgr-img {
        height: 200px;
        top: calc(431px + 100vh);
    }

    .shadow-cont {
        top: -70px;
        transform: scale(1.15) rotate(15deg);
        left: calc(50vw - 340px);
    }

    #about-me-cont {
        transform: translateY(410px);
    }

    .img-cont {
        img {
            width: 500x;
            height: 500px;
            object-fit: contain;
        }
    }

    .about-me-text-description {
        top: 520px;
    }

    .about-me-cont {
        height: 900px;
    }
}

@media(max-width:750px){
    .shadow-cont {
        top: -30px;
        transform: scale(1.25) rotate(15deg);
        left: calc(50vw - 270px);
    }

    .about-me-cont {
        height: 1000px;
    }
}

@media(max-width:600px){
    .about-me-cont {
        height: 980px;
    }

    .shadow-cont {
        top: 30px;
        transform: scale(1.35);
        left: calc(50vw - 200px);
    }

    .about-me-text-description {
        top: 470px;
    }

    #about-me-cont {
        transform: translateY(360px);
    }

    .backgr-img {
        height: 150px;
        top: calc(340px + 100vh);
        z-index: 3;
    }

    .img-cont {
        img {
            width: 400x;
            height: 400px;
            object-fit: contain;
        }
    }
}

@media(max-width: 500px){
    .about-me-cont {
        height: 1070px;
    }

    h1 {
        font-size: 55px;
    }

    .backgr-img {
        height: 150px;
        top: calc(331px + 100vh);
    }

    .shadow-cont {
        top: 90px;
        transform: scale(1.55);
        left: calc(50vw - 170px);
    }
}

@media(max-width:430px){
    .about-me-cont {
        height: 1060px;
    }

    .shadow-cont {
        top: 50px;
        left: calc(50vw - 130px);
    }

    .img-cont {
        height: 300px;
        img {
            width: 300x;
            height: 300px;
            object-fit: contain;
        }
    }

    #about-me-cont {
        transform: translateY(220px);
    }

    .backgr-img {
        height: 100px;
        top: calc(255px + 100vh);
    }

    .about-me-text-description {
        top: 330px;
    }
}

@media(max-width:380px){
    .about-me-cont {
        height: 1170px;
    }
}



@media(max-width:360px){
    h1 {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

@media(max-width:350px){
    .about-me-cont {
        height: 1270px;
    }

    .shadow-cont {
        top: 90px;
        transform: scale(2.05);
        left: calc(50vw - 110px);
    }
}