.about-me-cont {
    width: 1920px;
    max-width: 100%;
    height: 600px;
    position: absolute;
    left: 0; 
    background-color: #141d2f;
    position: relative;
    display: flex;
}

.about-me-text-description {
    width: 55%;
    height: 100%;
    gap: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 100px;
}

h1 {
    font-family: 'Poppins';
    font-size: 90px;
    font-weight: 700px;
    line-height: 108px;
    color: white;
    margin: 0;
    cursor: default;
    &:hover {
        color: #00B2D9;
    }
}

.about-me-text-cont {
    height: 336px;
    width: 471px;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
    cursor: default;
}

.debut {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400px;
    line-height: 19.2px;
    color: white;
}

.bulb, .puzzle {
    width: 50px;
    height: 50px;
    margin-left: 25px;
        &:hover {
            transform: scale(1.2);
        }
}

.img-cont {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    img {
        object-fit: cover;
        z-index: 10;
        position: relative;
        margin-left: 80px;
    }
}

.backgr-img {
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: -870px;
    left: 0;
    z-index: 10;
}

.shadow {
    position: absolute;
    bottom: -700px;
    left: calc(50% + 150px);
    width: 700px;
    height: 700px;
    object-fit: cover;
}

@media(max-width:1920px){
    .about-me-cont{
        width: 100vw;
        max-width: 100%;
        left: 0;
    }

    .shadow {
        left:calc(100vw - 800px);
        width: 750px;
        height: 750px;
        object-fit: cover;
    }
}

@media(max-width:1500px){
    .shadow {
        left:calc(50vw - 375px);
        margin-left: 250px;
    }

    .img-cont {
        img {
            margin-left: -100px;
        }
    }
}

@media(max-width:1300px){
    @media(max-width:1500px){
        .shadow {
            margin-left: 180px;
        }
    }

    .img-cont {
        img {
            margin-left: -140px;
        }
    }
}

@media(max-width:1150px){
    @media(max-width:1500px){
        .shadow {
            margin-left: 0px;
        }
    }

    .about-me-cont {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column-reverse;
        height: 1100px;
    }

    .img-cont {
        position: absolute;
        width: 100%;
        position: relative;
        img {
            margin-left: 0;
            position: absolute;
            left: calc(50% - 296px);
        }
    }

    .backgr-img {
        height: 400px;
        bottom: -850px;
        margin-right: 300px;
    }

    .about-me-text-description {
        width: 100%;
        height: 300px;
        margin-left: 0px;
        margin-bottom: 750px;
        position: absolute;
        align-items: center;
        bottom: -600px;
        z-index: 11;
        position: relative;
    }

    .about-me-text-cont {
        height: 336px;
        width: 50%;
        gap: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media(max-width:1050px){
    .about-me-cont {
        height: 1200px;
    }

    .about-me-text-description {
        margin-bottom: 850px;
    }
}

@media(max-width:900px){
    h1 {
        font-size: 70px;
    }

    .about-me-text-description {
        gap : 35px;
    }
}

@media(max-width: 800px){
    .shadow {
        width: 650px;
        height: 650px;
        left:calc(50vw - 325px);
        bottom: -660px;
    }

    .about-me-text-description {
        margin-bottom: 800px;
    }

    .backgr-img {
        height: 300px;
        bottom: -800px;
        margin-right: 300px;
        margin-bottom: 25px;
        width: 100vw;
    }

    .about-me-cont {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column-reverse;
        height: 1150px;
    }

    .img-cont {
        img {
            margin-left: 0;
            position: absolute;
            left: calc(50% - 296px);
        }
    }

    .about-me-text-cont {
        width: 70%;
    }
}

@media(max-width: 650px){
    .shadow {
        width: 400px;
        height: 400px;
        left:calc(50vw - 200px);
        bottom: -450px;
    }

    .about-me-text-description {
        margin-bottom: 830px;
    }

    .about-me-text-cont {
        width: 80%;
    }

    .backgr-img {
        height: 200px;
        bottom: -550px;
        margin-right: -50px;
    }

    .about-me-cont {
        height: 1000px;
    }

    .img-cont {
        img {
            width: 400px;
            height: 400px;
            margin-top: 130px;
            left: calc(50% - 200px);
        }
    }

    h1 {
        font-size: 70px;
    }
}

@media(max-width: 500px){
    h1 {
        font-size: 55px;
    }

    .about-me-text-description {
        margin-bottom: 880px;
        gap: 30px;
    }

    .img-cont {
        img {
            margin-top: 180px;
        }
    }
}

@media(max-width: 450px){
    .shadow {
        width: 350px;
        height: 350px;
        left:calc(50vw - 175px);
        bottom: -390px;
    }
}

@media(max-width: 400px){
    .about-me-cont {
        height: 1100px;
    }

    .shadow {
        width: 300px;
        height: 300px;
        left:calc(50vw - 150px);
        bottom: -390px;
    }

    .img-cont {
        img {
            width: 300px;
            height: 300px;
            margin-top: 280px;
            margin-left: 60px;
        }
    }

    .about-me-text-description {
        margin-bottom: 980px;
        gap: 30px;
    }
}
@media(max-width: 355px){
    .about-me-cont {
        margin-bottom: 250px;
    }
}