@import '../../../styles.scss';

.about-me-cont {
    width: 100%;
    height: 600px;
    left: 0; 
    position: relative;
    display: flex; 
}

.animation-cont {
    opacity: 0;
    transform: translateY(200px); 
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out; 
  }
  
.animation-cont.in-view {
    opacity: 1;
    transform: translateY(0); 
}

#skills-cont {
    position: absolute;
    bottom: 0px;
}

#about-me-cont {
    position: absolute;
    bottom: 100px;
}

.about-me-text-description {
    position: absolute;
    padding-left: 100px;
    left: calc(50vw - 960px);
    width: 960px;
    height: 100%;
    gap: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

h1 {
    font-family: 'Poppins';
    font-size: 90px;
    font-weight: 700px;
    line-height: 108px;
    color: white;
    margin: 0;
    cursor: default;
    &:hover {
        color: #00B2D9;
    }
}

.about-me-text-cont {
    height: 336px;
    width: 471px;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.debut {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400px;
    line-height: 19.2px;
    color: white;
}

.bulb, .puzzle {
    width: 50px;
    height: 50px;
    margin-left: 25px;
    z-index: 1005;
        &:hover {
            transform: scale(1.2);
        }
}

.img-cont {
    position: absolute;
    width: 960px;
    left: 49vw;
    height: 100%;
    display: flex;
    justify-content: center;
    img {
        object-fit: contain;
        z-index: 10;
        position: relative;
    }
}

.backgr-img {
    width: 100%;
    height: 400px;
    position: absolute;
    top: calc(451px + 100vh);
    left: 2;
    z-index: 1004;
}

.shadow-cont {
    position: absolute;
    z-index: 0;
    top: -50px;
    left: 50vw;
    object-fit: cover;
}