<div class="about-me-cont" id="about-me-cont">
    <div class="about-me-text-description">
        <div>
            <h1>About me</h1>
        </div>
        <div class="about-me-text-cont">
            <p class="debut">Hello. My name is Gabor and I am from Seelze in Lower Saxony. 
                I work on various programming projects with great enthusiasm and welcome every new challenge.
                <!--Hallo. Ich heiße Gabor und komme aus Seelze in Niedersachsen. 
                Mit großer Begeisterung arbeite ich an verschiedenen Programmierprojekten und 
                freue mich über jede neue Herausforderung.-->
            </p>
        </div>
        <div class="about-me-text-cont" (mouseover)="changeBulbImage()">
            @if(!hoveredBulb){
                <img src="../../../assets/img/bulb.png" class="bulb">
            } @else {
                <img src="../../../assets/img/bulb hovered.png" class="bulb">
            }
            
            <p class="debut">I have extensive knowledge in front-end development and am always open to new technologies. 
                My ability to quickly adapt to new tools and trends allows me to develop innovative solutions.
                <!--Ich habe umfassende Kenntnisse in der Frontend-Entwicklung und bin stets offen für neue Technologien.
                 Meine Fähigkeit, mich schnell in neue Tools und Trends einzuarbeiten, ermöglicht es mir, innovative Lösungen zu entwickeln.-->
            </p>
        </div>
        <div class="about-me-text-cont"  (mouseover)="changePuzzleImage()">
            @if(!hoveredPuzzle){
                <img src="../../../assets/img/puzzle.png" class="puzzle">
            } @else {
                <img src="../../../assets/img/puzzle hovered.png" class="puzzle">        
            }
            <p class="debut">Through the Developer Academy, I have strengthened my skills in many areas of front-end development.
                 With my confidence and expertise in software development,
                 I am well-prepared for my next professional challenge.
                  I look forward to applying and further enhancing my knowledge in a new job.
                <!--Durch die Developer Akademie habe ich meine Fähigkeiten in vielen Bereichen der Frontend-Entwicklung weiter ausgebaut. 
                Mit meinem Selbstbewusstsein und meinen Kompetenzen in der Software-Entwicklung bin ich bestens gerüstet für meine nächste 
                berufliche Herausforderung.
                 Ich freue mich darauf, meine Kenntnisse in einem neuen Job einzusetzen und weiter zu vertiefen.-->
            </p>
        </div>
    </div>
    <div class="img-cont">
        <img src="../../../assets/img/hero character photo.png">
    </div>
</div>
<div>
    <img class="backgr-img" src="../../../assets/img/Vector (2).png">
</div>
<div class="shadow-cont">
    <img class="shadow" src="../../../assets/img/Group 2.png">
</div>
