<div class="about-me-cont">
    <div class="about-me-text-description">
        <div>
            <h1>About me</h1>
        </div>
        <div class="about-me-text-cont">
            <p class="debut">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem velit nihil dicta
                exercitationem alias
                aliquam, quia pariatur corporis! Eum qui voluptas eos dolor dignissimos tempore
                voluptate assumenda vero aut veritatis.
            </p>
        </div>
        <div class="about-me-text-cont">
            <img src="../../../assets/img/bulb.png" class="bulb">
            <p class="debut">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem velit nihil dicta
                exercitationem alias
                aliquam, quia pariatur corporis! Eum qui voluptas eos dolor dignissimos tempore
            </p>
        </div>
        <div class="about-me-text-cont">
            <img src="../../../assets/img/puzzle.png" class="puzzle">
            <p class="debut">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem velit nihil dicta
                exercitationem alias
                aliquam, quia pariatur corporis! Eum qui voluptas eos dolor dignissimos tempore
            </p>
        </div>
    </div>
    <div class="img-cont">

    </div>
</div>
