<div class="portfolio-cont" id="portfolio-cont">
    <div class="portfolio-header">
        <div class="portfolio-header-top">
            <div class="portfolio-header-line">
            </div>
            <div>
                <span class="portfolio-title">Portfolio</span>
            </div>
        </div>
        <div>
            <span class="portfolio-header-description">This page is a sample of my work! scroll down to 
                view other projects I have develped.
            </span>
        </div>
    </div>
</div>
<app-portfolio-project class="portfolio-cont"></app-portfolio-project>
