<nav>
    <div class="navbar-left">
        <span class="logo">Gabor</span>
    </div>
    <div class="navbar-right">
        <a href="#about-me-cont">{{ aboutMeText }}</a>
        <a href="#skills-cont">Skills</a>
        <a href="#portfolio-cont">Portfolio</a>
        <div>
            <span (click)="closeMenu()" (click)="german()" [ngStyle]="{'color' : changeLanguage.germanLanguageActive ? '#00B2D9' : 'white'}">de</span>
            <span class="parting-line">|</span>
            <span (click)="closeMenu()" (click)="english()" [ngStyle]="{'color' : changeLanguage.englishLanguageActive ? '#00B2D9' : 'white'}">en</span>
        </div>
        <div class="menu-icon">
            @if(!openedMenu){
            <img class="burger-menu-icon" src="../../assets/img/menu-icon.png" (click)="openMenu()">
            }@else {
            <img class="burger-menu-icon" src="../../assets/img/close-icon.png" (click)="closeMenu()">
            }
        </div>
    </div>
</nav>
<div class="menu" [ngClass]="{'menu-window-opened': openedMenu , 'menu-window-closed': !openedMenu}">
    <a href="#about-me-cont" (click)="closeMenu()">{{ aboutMeText }}</a>
    <a href="#skills-cont" (click)="closeMenu()">Skills</a>
    <a href="#portfolio-cont" (click)="closeMenu()">Portfolio</a>
    <div>
        <span (click)="closeMenu()" (click)="german()" [ngStyle]="{'color' : changeLanguage.germanLanguageActive ? '#00B2D9' : 'white'}">de</span>
            <span class="parting-line">|</span>
            <span (click)="closeMenu()" (click)="english()" [ngStyle]="{'color' : changeLanguage.englishLanguageActive ? '#00B2D9' : 'white'}">en</span>   
    </div>
</div>
