@import '../../../styles.scss';

nav {
    width: 100vw;
    max-width: 100%;
    height: 109px;
    background-color: $backgrond;
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    left: calc(50vw - 960px); 
    z-index: 1007;
}

.nav-resp {
    width: 1920px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popUp {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    z-index: 3;
}

.popUpWindow {
    width: 300px;
    height: 109px;
    position: absolute;
    left: calc(50% - 150px);
    bottom: 0;
    background-color: $purple;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-family: 'Poppins';
        font-size: 26px;
        font-weight: 600;
        line-height: 19.2px;
        text-align: left;
        color: white;
    }
}

a, span{
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
        color: #00B2D9;
    }
}

.parting-line, .parting-line-opened {
    cursor: default;
    &:hover {
        color:  white;
    }
}

.logo {
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    gap: 24px;
    margin-right: 100px;
}

.navbar-left {
    margin-left: 100px;
}

img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

.menu-item {
    display: none;
}

@keyframes fadeIn {
    0% {
      display: none;
    }
    100% {
      display: flex;
    }
}

@keyframes fadeOut {
    0% {
      display: flex;
    }
    100% {
      display: none;
    }
}

.menu-window-opened {
    animation: fadeIn 0.25s ease-in-out;
    opacity: 1;
    z-index: 1006;
}

.menu-window-closed {
    animation: fadeOut 0.25s ease-in-out;
    opacity: 0;
    z-index: 0;
}

.menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    position: fixed;
    left: 0;
    top: 109px;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    a {
        text-decoration: none;
    }
}

@media(max-width: 1920px){
    nav {
        left: 0;
        width: 100vw;
        max-width: 100%;
    }
}

@media(max-width: 1000px){
    .navbar-right {
        margin-right: 50px;
    }
    
    .navbar-left {
        margin-left: 50px;
    }
}

@media(max-width: 850px){
    .navbar-right a, .language, .parting-line{
        display: none
    }

    img {
        display: block;
    }

    .menu-item {
        display: block;
    }
}

@media(max-width: 700px){
    .navbar-right {
        gap: 16px;
    }
}

@media(max-width: 400px){
    .navbar-right {
        margin-right: 20px;
    }
    
    .navbar-left {
        margin-left: 20px;
    }
}