@import '../../../styles.scss';

#skills-cont {
    position: absolute;
    top: -100px;
}

.skills-cont {
    width: 1920px;
    max-width: 100%;
    position: absolute;
    left: 0; 
    background-color: $backgrond;
    position: relative;
    z-index: 30;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.shadow-cont-right {
    position: absolute;
    bottom: calc(50% - 480px);
    right: 100px;
    z-index: -1;
}

.shadow-right {
    transform: scale(0.78);
    min-width: 800px;
    min-height: 800px;
}

.icons-cont {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    margin-left: 100px;
    position: relative;
}

.skill-icons-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: transform 1s;
    transform-style: preserve-3d;
    &:hover {
        transform: rotateY(360deg); 
        filter: drop-shadow(0 0 0.75rem $purple);
    }
}

.icon-name {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    color: white;
}

.skills-text-cont {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 260px;
    margin-right: 100px;
    cursor: default;
}

.skills-title-cont {
    display: flex;
    align-items: center;
    gap: 50px;
}

.skills-title {
    font-family: 'Poppins';
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
    text-align: left;
    color: white;   
    cursor: default;
    &:hover {
        color: $blue;
    } 
}

.blue-line {
    height: 4px;
    width: 2000px;
    background-color: $blue;
    margin-right: -100px;
}

.skills-description {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: white;
}

.get-in-btn, .get-in-btn-german {
    height: 58px;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: $blue;
    box-shadow: 4px 4px 4px 0px #00000040;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    transform-origin: top center;
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    color: white;
    white-space: nowrap;
    &:hover {
        transform: scaleX(1.1) scaleY(1.1);
        background-color: $purple;
    }
    &:active {
        color: black;
        background-color: white;
    }
}

.get-in-btn {
    width: 200px;
}

.get-in-btn-german {
    width: 250px;
}

.icon-name {
    max-width: 100px;
    text-align: center;
}

.mat-design {
    margin-top: 14px;
}

@media(max-width:1920px){
    .skills-cont {
        width: 100vw;
        max-width: 100%;
        left: 0;
    }
}

@media(max-width:1150px){
    .icons-cont {
        width: calc(100% - 200px);
        height: calc(100vw - 200px);
        margin-left: 0px;
    }

    .skills-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .skills-text-cont {
        width: calc(100% - 200px);
        height: 200px;
        margin-right: 100px;
        margin-left: 100px;
    }

    .get-in-btn, .get-in-btn-german {
        position: absolute;
        bottom: -100px;
        left: calc(50% - 100px);
    }

    .get-in-btn-german {
        position: absolute;
        bottom: -100px;
        left: calc(50% - 125px);
    }
}

@media(max-width:1000px){
    .icons-cont {
        width: calc(100% - 100px);
        height: calc(100vw - 100px);
    }

    .skills-text-cont {
        width: calc(100% - 100px);
        margin-right: 50px;
        margin-left: 50px;
    }

    .blue-line {
        margin-right: -50px;
    }
}

@media(max-width: 900px){
    .skills-title {
        font-size: 70px;
    }
}

@media(max-width: 700px){
    .skill-icon {
        width: 45px;
        height: 45px;
    }

    .skill-icons-cont {
        margin: 18px;
    }

    .icon-name {
        font-size: 14px;
    }
}

@media(max-width: 600px){
    .skill-icons-cont {
        margin: 10px;
    }
}

@media(max-width: 500px){
    .get-in-btn {
        width: 158px;
        height: 49px;
        font-size: 18px;
        left: calc(50% - 79px);
        padding: 0;
    }

    .get-in-btn-german {
        width: 208px;
        height: 49px;
        font-size: 18px;
        left: calc(50% - 104px);
        padding: 0;
    }

    .skill-icons-cont {
        margin: 0px;
        margin-top: 10px;
    }

    .skills-title {
        font-size: 55px;
    }

    .skills-cont {
        margin-top: 250px;
    }
}

@media(max-width:400px){
    .skills-cont {
        margin-top: 240px;
    }

    .blue-line {
        margin-right: -10px;
    }

    .icons-cont {
        width: calc(100% - 20px);
        height: calc(100vw - 20px);
    }

    .skills-text-cont {
        width: calc(100% - 20px);
    }
}