@import '../../../styles.scss';

.skills-cont {
    left: 0; 
    background-color: $backgrond;
    position: relative;
    z-index: 30;
    margin-top: 100px;
    z-index: 1005;
    overflow: hidden;
}

.animation-cont {
    opacity: 0;
    transform: translateX(-200px); 
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out; 
}
  
.animation-cont.in-view {
    opacity: 1;
    transform: translateX(0); 
}

.animation-cont-left {
    opacity: 0;
    transform: translateX(200px); 
    transition: opacity 0.3s ease-in-out, transform 0.9s ease-in-out; 
  }
  
.animation-cont-left.in-view {
    opacity: 1;
    transform: translateX(0); 
   
}

.icons-cont {
    position: absolute;
    left: calc(50vw - 960px);
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    margin-left: 100px;
    position: relative;
    transform: translateX(-50px);
}

.skill-icons-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition: transform 1s;
    transform-style: preserve-3d;
    &:hover {
        transform: rotateY(360deg); 
        filter: drop-shadow(0 0 0.75rem $purple);
    }
}

.icon-name {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    color: white;
}

.skills-text-cont {
    width: 572px;
    position: absolute;
    left: calc(50vw + 300px);
    top: 220px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 260px;
    margin-right: 100px;
    cursor: default;
}

.skills-title-cont {
    display: flex;
    align-items: center;
    gap: 50px;
}

.skills-title {
    font-family: 'Poppins';
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
    text-align: left;
    color: white;   
    cursor: default;
    &:hover {
        color: $blue;
    } 
}

.blue-line {
    position: absolute;
    right: 0;
    top: 280px;
    height: 4px;
    left: calc(50% + 575px);
    background-color: $blue;
}

.skills-description {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: white;
}

.get-in-btn, .get-in-btn-german {
    height: 58px;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: $blue;
    box-shadow: 4px 4px 4px 0px #00000040;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    transform-origin: top center;
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    color: white;
    white-space: nowrap;
    &:hover {
        transform: scaleX(1.1) scaleY(1.1);
        background-color: $purple;
    }
    &:active {
        color: black;
        background-color: white;
    }
}

.get-in-btn {
    width: 200px;
}

.get-in-btn-german {
    width: 250px;
}

.icon-name {
    max-width: 100px;
    text-align: center;
}

.mat-design {
    margin-top: 14px;
}

@media(max-width:1920px){
    .skills-text-cont {
        left: calc(100vw - 665px);
    }

    .icons-cont {
        left: 0px;
    }

    .blue-line {
        left: calc(100% - 380px);
    }
}

@media(max-width:1400px){
    .skills-text-cont {
        height: 260px;
        left: 100px;
        top: 0;
    }

    .blue-line {
        top: 62px;
        left: 390px;
        right: 0;
    }

    .icons-cont {
        top: 260px;
    }

    .skills-cont {
        padding-bottom: 280px;
    }

    .get-in-btn {
        left: calc(50vw - 100px); 
        bottom: -60px;
    }

    .get-in-btn-german {
        left: calc(50vw - 125px);
    }
}

@media(max-width:1000px){
    .skills-text-cont {
        left: 50px;
    }

    .blue-line {
        left: 340px;
    }

    .icons-cont {
        transform: translateX(-100px);
    }
}

@media(max-width: 900px){
    .skills-title {
        font-size: 70px;
    }

    .blue-line {
        left: 280px;
    }
}

@media(max-width: 700px){
    .skills-text-cont {
        margin-right: 0;
        width: calc(100vw - 100px);
    }

    .skill-icon {
        width: 45px;
        height: 45px;
    }

    .skill-icons-cont {
        margin: 18px;
    }

    .icon-name {
        font-size: 14px;
    }

    .icons-cont {
        width: 100vw;
        max-width: 100%;
    }

    .skills-cont {
        padding-bottom: 375px;
    }

    .get-in-btn {
        position: absolute;
        bottom: 20px;
        left: calc(50vw - 150px);
        transform: translateY(830px);
        &:hover {
            transform: translateY(830px) scaleX(1.1) scaleY(1.1);
        }
    }

    .get-in-btn-german {
        position: absolute;
        bottom: 20px;
        left: calc(50vw - 175px);
        transform: translateY(830px);
        &:hover {
            transform: translateY(830px) scaleX(1.1) scaleY(1.1);
        }
    }

    .blue-line {
        top: 68px;
    }
}

@media(max-width:600px){
    .skills-text-cont {
        width: calc(100vw - 100px);
        left: 50px;
        display: flex;
        align-items: center;
    } 

    .blue-line {
        left: calc(50vw + 140px);
    }
}

@media(max-width: 500px){
    .get-in-btn {
        width: 158px;
        height: 49px;
        font-size: 18px;
        left: calc(50% - 79px);
        padding: 0;
        transform: translateY(720px);
        &:hover {
            transform: translateY(720px) scaleX(1.1) scaleY(1.1);
        }
    }

    .get-in-btn-german {
        width: 208px;
        height: 49px;
        font-size: 18px;
        left: calc(50% - 104px);
        padding: 0;
        transform: translateY(720px);
        &:hover {
            transform: translateY(720px) scaleX(1.1) scaleY(1.1);
        }
    }

    
    .skills-title {
        font-size: 55px;
    }

    .icons-cont {
        height: 600px;
    }

    .blue-line {
        left: calc(50vw + 110px);
        top: 72px;
    }

    .skill-icons-cont {
        margin: 0;
    }
}

@media(max-width:400px){
    .blue-line {
        left: calc(50vw + 85px);
    }

    .icons-cont {
        height: 500px;
    }

    .get-in-btn {
        transform: translateY(620px);
        &:hover {
            transform: translateY(620px) scaleX(1.1) scaleY(1.1);
        }
    }

    .get-in-btn-german {
        transform: translateY(620px);
        &:hover {
            transform: translateY(620px) scaleX(1.1) scaleY(1.1);
        }
    }
}

@media(max-width:350px){
    .icons-cont {
        height: 400px;
    }

    .get-in-btn {
        transform: translateY(520px);
        &:hover {
            transform: translateY(520px) scaleX(1.1) scaleY(1.1);
        }
    }

    .get-in-btn-german {
        transform: translateY(520px);
        &:hover {
            transform: translateY(520px) scaleX(1.1) scaleY(1.1);
        }
    }
}