<div class="skills-cont" >
    <div class="blue-line"></div>
    <div class="icons-cont">
        <div class="skill-icons-cont">
            <img src="../../../assets/img/Angular.png" class="skill-icon animation-cont">
            <span class="icon-name animation-cont">Angular</span>
        </div>
        <div class="skill-icons-cont">
            <img src="../../../assets/img/ts.png" class="skill-icon animation-cont">
            <span class="icon-name animation-cont">TypeScript</span>
        </div>
        <div class="skill-icons-cont">
            <img src="../../../assets/img/Javascript.png" class="skill-icon animation-cont">
            <span class="icon-name animation-cont">JavaScript</span>
        </div>
        <div class="skill-icons-cont">
            <img src="../../../assets/img/html.png" class="skill-icon animation-cont">
            <span class="icon-name animation-cont">HTML</span>
        </div>
        <div class="skill-icons-cont">
            <img src="../../../assets/img/css.png" class="skill-icon animation-cont">
            <span class="icon-name animation-cont">CSS</span>
        </div>
        <div class="skill-icons-cont">
            <img src="../../../assets/img/Firebase.png" class="skill-icon animation-cont">
            <span class="icon-name animation-cont">Firebase</span>
        </div>
        <div class="skill-icons-cont">
            <img src="../../../assets/img/Api.png" class="skill-icon animation-cont">
            <span class="icon-name animation-cont">Rest-Api</span>
        </div>
        <div class="skill-icons-cont"></div>
        <div class="skill-icons-cont">
            <img src="../../../assets/img/scrum.png" class="skill-icon animation-cont">
            <span class="icon-name animation-cont">Scrum</span>
        </div>
        <div class="skill-icons-cont">
            <img src="../../../assets/img/git (2).png" class="skill-icon animation-cont">
            <span class="icon-name animation-cont">GIT</span>
        </div>
        <div class="skill-icons-cont"></div>
        <div class="skill-icons-cont"></div>
        <div class="skill-icons-cont mat-design">
            <img src="../../../assets/img/Group.png" class="skill-icon animation-cont">
            <span class="icon-name animation-cont">Material design</span>
        </div>
        <div class="skill-icons-cont"></div>
        <div class="skill-icons-cont"></div>
        <div class="skill-icons-cont"></div>
    </div>
    <div class="skills-text-cont animation-cont-left">
        <div class="skills-title-cont">
            <span class="skills-title">Skills</span>
        </div>
        <div>
            <span class="skills-description">
                @if(changeLanguage.englishLanguageActive){
                    {{ changeLanguage.skillsDescriptionEnglish }}
                }@else{
                    {{ changeLanguage.skillsDescriptionGerman }}
                }
            </span>
        </div>
        <div>
            <a href="#contact-cont">
                @if(changeLanguage.englishLanguageActive){
                    <button class="get-in-btn">{{ changeLanguage.skillsButtonTextEnglish }}</button>
                }@else{
                    <button class="get-in-btn-german">{{ changeLanguage.skillsButtonTextGerman }}</button>
                }
            </a>
        </div>
    </div>
</div>