.skills-cont {
    width: 1920px;
    max-width: 100%;
    position: absolute;
    left: calc(50vw - 960px); 
    background-color: #141d2f;
    position: relative;
    z-index: 30;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-cont {
    width: 700px;
    height: 700px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-left: 100px;
}

.skill-icons-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    gap: 12px;
}

.icon-name {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    color: white;
}

.row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
}

.skills-text-cont {
    width: 30%;
    background-color: #4B47FF;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 260px;
    margin-right: 100px;
}

.skills-title-cont {
    display: flex;
    align-items: center;
    gap: 42px;
}

.skills-title {
    font-family: 'Poppins';
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
    text-align: left;
    color: white;    
}

.blue-line {
    height: 4px;
    width: 2000px;
    background-color: #00BEE8;
}

.skills-description {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: white;
}

.get-in-btn {
    width: 200px;
    height: 58px;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: #00BEE8;
    box-shadow: 4px 4px 4px 0px #00000040;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    transform-origin: top center;
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    color: white;
    white-space: nowrap;
    &:hover {
        transform: scaleX(1.1) scaleY(1.1);
        background-color: #4B47FF;
    }
    &:active {
        color: black;
        background-color: white;
    }
}

@media(max-width:1920px){
    .skills-cont {
        width: 100vw;
        max-width: 100%;
        left: 0;
    }
}

@media(max-width:1150px){
    .skills-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .skills-text-cont {
        width: calc(100% - 200px);
        height: 200px;
        margin-right: 100px;
        margin-left: 100px;
    }

    .icons-cont {
        width: calc(100% - 150px);
        height: 700px;
        background-color: aqua;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
        margin-left: 0px;
        padding-right: 40px;
    }

    .get-in-btn {
        width: 200px;
        height: 58px;
        position: absolute;
        top: 920px;
        left: calc(50% - 100px);
    }

    .icon-name {
        max-width: 120px;
        text-align: center;
    }
}

@media(max-width:1000px){

    .skills-text-cont {
        width: calc(100% - 100px);
        margin-right: 50px;
        margin-left: 50px;
        position: relative;
    }

    .icons-cont {
        width: calc(100% - 100px);
    }
}

@media(max-width: 900px){
    .skills-title {
        font-size: 70px;
    }

    .row {
        gap: 0px;
    }

    .icons-cont {
        gap: 0px;
        height: 600px;
    }

    .get-in-btn {
        top: 820px;
    }
}

@media(max-width: 700px){
    .skill-icon {
        width: 45px;
        height: 45px;
    }

    .skill-icons-cont {
        margin: 18px;
    }

    .icons-cont {
        height: 450px;
    }

    .get-in-btn {
        top: 670px;
    }
}

@media(max-width: 600px){
    .skill-icons-cont {
        margin: 10px;
    }

    .icons-cont {
        height: 410px;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }

    .get-in-btn {
        top: 630px;
    }
}

@media(max-width: 500px){
    .icons-cont {
        width: calc(100% - 150px);
        padding-right: 20px;
    }
}