.policy-cont {
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    a {
        text-decoration: none;
        color: white;
    }
}

h1, h2, h3, h4, p, li {
    font-family: 'Poppins';
    color: white;
}

.policy-text {
    max-width: 1720px;
}

@media(max-width:1920px){
    .policy-text {
        max-width: calc(100vw - 200px);
    }
}

@media(max-width:1000px){
    .policy-text {
        max-width: calc(100vw - 100px);
    }
}

@media(max-width:400px){
    .policy-text {
        max-width: calc(100vw - 40px);
    }
}