.imprint-cont {
    width: 1920px;
    left: calc(50vw - 960px);
    min-height: calc(100vh - 400px);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    a {
        text-decoration: none;
        color: white;
    }
}

.imprint-text-cont {
    margin-left: 100px;
    max-width: 1720px;
}

h1, h2, p {
    font-family: 'Poppins';
    color: white;
}

@media(max-width:1920px){
    .imprint-cont {
        width: 100vw;
        max-width: 100%;
        left: 0;
    }
}

@media(max-width:1000px){
    .imprint-text-cont {
        margin-left: 50px;
    }
}

@media(max-width:400px){
    .imprint-text-cont {
        margin-left: 20px;
    }
}