<footer>
    <div class="footer-cont">
        <div>
            <span class="name">Gabor</span>
        </div>
        <div class="copyright-cont">
            <span class="copyright">© Gabor Hozleiter 2024</span>
        </div>
        <div class="ref-icons">
            <a href="#">
                <img src="../../../assets/img/Github button.png" class="ref-icon" alt="">
            </a>
            <a href="#">
                <img src="../../../assets/img/Email button.png" class="ref-icon" alt="">
            </a>
            <a href="#">
                <img src="../../../assets/img/Linkedin button.png" class="ref-icon" alt="">
            </a>
        </div>
    </div>
    <div class="imprint-cont">
        <a href="imprint"><span>Imprint</span></a>
    </div>
</footer>

