<div class="parting-line">
</div>
<footer>
    <div class="footer-cont">
        <div (click)="inactiveteRouterLink()">
            <a routerLink="above-the-fold-container">
                <span class="name">Gabor</span>
            </a>
        </div>
        <div class="copyright-cont">
            <span class="copyright">© Gabor Hozleiter 2024</span>
        </div>
        <div class="ref-icons">
            <a href="https://github.com/GaborHozleiter" target="_blank">
                <img src="../../../assets/img/Github button.png" class="ref-icon" alt="">
            </a>
            <a href="#contact-cont">
                <img src="../../../assets/img/Email button.png" class="ref-icon" alt="">
            </a>
            <a href="https://de.linkedin.com/" target="_blank">
                <img src="../../../assets/img/Linkedin button.png" class="ref-icon" alt="">
            </a>
        </div>
    </div>
    <div class="imprint-cont" (click)="activeteRouterLink()">
        <a routerLink="imprint">
            @if(changeLanguage.englishLanguageActive){
                <span>{{ changeLanguage.imprintEnglish }}</span>
            }@else {
                <span>{{ changeLanguage.imprintGerman }}</span>
            }
            
        </a>
    </div>
</footer>

