@import '../../../styles.scss';

.portfolio-cont {
    width: 1920px;
    max-width: 100%;
    height: 400px;
    left: 0; 
    background-color: $backgrond;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 33px;
    padding-top: 80px;
    padding-bottom: 80px;
}

#portfolio-cont {
    position: absolute;
    left: 50vw;
    top: 0;
}

.portfolio-header {
    width: 572px;
    height:181px;
    position: absolute;
    left: 0;
    top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.portfolio-header-line {
    width: 50px;
    position: absolute;
    left: 0;
    top: 50px;
    border: 2px solid $blue;
}

.portfolio-title {
    position: absolute;
    left: 100px;
    font-family: 'Poppins';
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
    text-align: center;
    color:white;
    cursor: default;
    &:hover {
        color: $blue;
    }
}

.portfolio-header-top {
    display: flex;
}

.portfolio-header-description {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: white;
    position: absolute;
    left: 100px;
    margin-top: -78px;
    cursor: default;
}

@media(max-width:1920px){
    .portfolio-cont {
        width: 100vw;
        max-width: 100%;
        left: 0;
    }
}

@media(max-width:1500px){
    .portfolio-cont {
        height: 300px;
        padding-top: 100px;
    }

    .portfolio-header {
        top: 90px;
    }
}

@media(max-width:1200px){
    .portfolio-cont {
        height: 300px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media(max-width:1150px){
    .portfolio-cont {
        height: 300px;
        padding-top: 120px;
        padding-bottom: 60px;
    }

    .portfolio-header {
        top: 170px;
    }
}

@media(max-width:1000px){
    .portfolio-header-description {
        left: 50px;
    }

    .portfolio-title {
        left: 50px;
    }

    .portfolio-header-line {
        width: 25px;
    }
}

@media(max-width:900px){
    .portfolio-cont {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 1200px;
        margin-top: -500px;
    }

    .portfolio-cont-top {
        height: 1100px !important;
    }

    #portfolio-cont {
        top: 460px;
    }

    .portfolio-title {
        font-size: 70px;
    }

    .portfolio-header {
        top: 620px;
    }
}

@media(max-width:700px){
    .portfolio-cont {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 1100px;
        margin-top: -450px;
    }

    #portfolio-cont {
        top: 410px;
    }


    .portfolio-header {
        top: 520px;
    }

    .portfolio-cont-top {
        height: 950px !important;
    }
}

@media(max-width:600px){
    .portfolio-cont {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 800px;
        margin-top: 50px;
    }

    .portfolio-header {
        top: 0px;
    }

    .portfolio-cont-top {
        height: 0px !important;
    }

    #portfolio-cont {
        top: -100px;
        z-index: 5;
    }

    .portfolio-title {
        left: calc(50vw - 150px);
    }

    .portfolio-header-line {
        width: calc(50vw - 200px);
        left: 0;
    }

    .portfolio-header-description {
        max-width: 480px;
        right: 50px;
    }
}

@media(max-width:500px){
    .portfolio-title {
        font-size: 55px;
        left: calc(50vw - 119px);
    }

    .portfolio-header-line {
        width: calc(50vw - 148px);
        left: 0;
    }

    .portfolio-cont {
        height: 650px;
        margin-top: 0px;
    }
}