.portfolio-cont {
    width: 1920px;
    max-width: 100%;
    left: calc(50vw - 960px); 
    background-color: #141d2f;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 50px;
}

@media(max-width:1920px){
    .portfolio-cont {
        width: 100vw;
        max-width: 100%;
        left: 0;
    }
}

@media(max-width:900px){
    .portfolio-cont {
        flex-direction: column;
    }
}