<div class="portfolio-cont portfolio-cont-top animation-cont">
    <div id="portfolio-cont"></div>
    <div class="portfolio-header-line">
    </div>
    <div class="portfolio-header">
        <div class="portfolio-header-top">
            <div>
                <span class="portfolio-title">Portfolio</span>
            </div>
        </div>
        <div>
            @if(changeLanguage.englishLanguageActive){
                <span class="portfolio-header-description">
                    {{ changeLanguage.portfolioDescriptionEnglish }}
                </span>
            }@else {
                <span class="portfolio-header-description">
                    {{ changeLanguage.portfolioDescriptionGerman }}
                </span>
            } 
        </div>
    </div>
</div>
<app-portfolio-project class="portfolio-cont"></app-portfolio-project>
